#div1,#div2,#div3 {
    border: #6AC5AC 2px solid;

}
#div1,#div2 {
    width: 500px;
}

 #div1 {
     text-align: center;
}
 #div3 {
     width:300px;
     margin: 10px auto;
     text-align: center;
 }

 #div4 {
     float:left;
     position: relative;
     left:50%;
     border: #96C02E 2px solid;
 }
 #div4 ul {
     list-style: none;
     position:relative;
     left:-50%;
     border: black 2px solid;
     padding:0;
 }
 #div4 li {
     display:inline-block;
     float:left;
     border: #D64078 2px solid;
     margin: 0 auto;
 }

