<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浮动测试</title>
    <link rel="stylesheet" href="../static/css/csstest_9.css">
</head>
<body>
    <h1>测试浮动</h1>
    <div id="div1">
        <div id="div6">div6不浮动</div>
        <div id="div2">div2左浮动</div>
        <div id="div7">div7不浮动</div>
        <div id="div3">div3左浮动</div>
        <div id="div4">div4右浮动</div>
        <div id="div5">div5左浮动</div>
        <div id="div8">div8右浮动</div>
        <div id="div9">div9右浮动</div>
        <div id="div10">div10不浮动</div>
        <div id="div11">
            <h1>float总结</h1>
            <ul>
                <li>float,浮动</li>
                <li>浮动元素会自动被设置为块级元素</li>
                <li>浮动元素脱离正常文档流，在其包含框内向左或者向右浮动,元素不会重叠</li>
                <li>浮动会破坏周围元素的正常布局</li>
                <li>如果浮动元素的前一个元素是浮动元素，则浮动元素会跟随在该浮动元素后面</li>
                <li>如果浮动元素的前一个元素是标准文档流元素，则浮动元素的顶部会紧挨该标准文档流元素的底部</li>
                <li>如果正常文档流元素的前一个元素是浮动元素，则正常文档流元素忽略该浮动元素，按照正常文档流顺序排列</li>
            </ul>
        </div>
    </div>


</body>
</html>