<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/lib/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="icon" href="../static/img/icon.ico" type="image/x-icon"/>
    <script src="../static/js/header.js"></script>
    <title>CSS</title>
</head>
<body>
<div id="container">
    <img src="../static/img/logo.jpg"/>
    <ul id="navigator">
        <li><a href="www.baidu.com">首页</a></li>
        <li><a href="www.baidu.com">证券</a></li>
        <li><a href="www.baidu.com">舆情</a></li>
        <li><a href="www.baidu.com">评级</a></li>
    </ul>
    <form id="searchform">
        <input id="searchinput" name="searchinput" type="text" placeholder="请输入您要搜索的内容..."/>
        <button id="submitbtn"type="submit">搜索</button>
    </form>
</div>
<div id="content">
    <div id="leftsider"></div>
    <div id="rightsider1"></div>
    <div id="rightsider2"></div>
    <div id="rightsider3"></div>
    <div id="rightsider4"></div>
</div>
<footer>
    <div>@copyright mr.x</div>
    <div>123-45678901</div>
    <div>123455455@fowx.mail</div>
</footer>
 <script type="text/javascript">
     $(function () {
         init();
     });
 </script>
</body>
</html>