<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/lib/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/horizoncenter.css">
    <link rel="icon" href="../static/img/icon.ico" type="image/x-icon"/>
    <title>水平居中</title>
</head>
<body>
<h1>文本、图片等行内元素水平居中</h1>
<div id="div1">
    文本、图片等行内元素水平居中
</div>
<h1>定宽块状元素水平居中</h1>
<div id="div2">
   <div id="div3">定宽块状元素水平居中</div>
</div>
<h1>不定宽块状元素水平居中</h1>
<div id="div4">
    <ul>
        <li>不定宽块状元素水平居中1</li>
        <li>不定宽块状元素水平居中22</li>
        <li>不定宽块状元素水平居中333</li>
        <li>不定宽块状元素水平居中4444</li>
        <li>不定宽块状元素水平居中555555</li>
    </ul>
</div>
</body>
</html>