<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/lib/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/verticalcenter.css">
    <link rel="icon" href="../static/img/icon.ico" type="image/x-icon"/>
    <title>垂直居中</title>
</head>
<body>
   <h1>父元素高度确定的单行文本</h1>
    <div id="div1">
        父元素高度确定的单行文本
    </div>
   <h1>父元素高度确定的多行文本</h1>
    <div id="div2">
        <table>
            <tr><td>父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本父元素高度确定的多行文本</td></tr>
            <tr><td>父元素高度确定的多行文本</td></tr>
        </table>
    </div>

</body>
</html>